ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #6B4F4F;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

li.nav {
  display: inline-block;
  padding: 0px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.4s;
}

li a:hover:not(.active) {
  background-color: #483434;
}

.active {
  background-color: #483434;
}

body{
  background: #EED6C4;
}
.header {
  padding: 0px;
  text-align: center;
  color: white;
  font-size: 30px;
}

img{
  object-fit: cover;
  height: 500px;
  width: 1850px;

}

img.logo{
  height: 1000px;
  width: auto;
  bottom: 150px;
}

p{
  text-align: center;
}

.content1{
    width: 450px;
    padding: 5px 15px;
    float: left;
}
.content2{
    margin: 0 0 0 950px;
    padding: 15px;
    border-left: 3px solid;
    border-color:#483434;

}

#wrapper{
  width: 1850px;
  background: #F2DDC1;
  text-align: left;
  margin: auto;

      }

footer{
  background-color: #6B4F4F;
}
p.footer{
  color: white;
}
